/* Overall Files */
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/variables.css')
/* @import url('https://gazellegames.net/static/styles/game_room/cssFiles/overallStyles.css') */
/* @import url('https://gazellegames.net/static/styles/game_room/cssFiles/header.css') */
/* @import url('https://gazellegames.net/static/styles/game_room/cssFiles/footer.css') */
@import url('https://gazellegames.net/static/styles/game_room/caticons.css')
@import url('https://gazellegames.net/static/styles/game_room/webLinks.css')

/* Main Pages */
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/homepage.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/torrentsBrowse.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/torrentsGames.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/bundles.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/requests.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/forums.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/rules.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/wiki.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/staff.css')

/* Palooza */
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/paloozaOverall.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/paloozaShop.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/paloozaInventory.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/paloozaCrafting.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/paloozaEquipment.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/paloozaTrading.css')

/* AdventureClub (Fight System) */
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/adventureSkills.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/adventureBackpack.css')

/* Misc Pages */
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/upload.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/profiles.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/clans.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/staffPages.css')
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/miscPages.css')

/* Special Pages */
@import url('https://gazellegames.net/static/styles/game_room/cssFiles/holidayeffects.css')
@import url('https://gazellegames.net/static/styles/game_room/gamethemes.css') screen and (min-width: 1100px)
/*@import url('https://gazellegames.net/static/styles/game_room/testing/test.css')*/

/* Other Screen Sizes */
/* @import url('https://gazellegames.net/static/styles/game_room/screenSizes/mobile.css') screen and (max-width: 800px)
@import url('https://gazellegames.net/static/styles/game_room/screenSizes/largeDesktop.css') screen and (min-width: 1400px)
@import url('https://gazellegames.net/static/styles/game_room/screenSizes/middleDesktop.css') screen and (min-width: 801px) and (max-width: 1150px)
@import url('https://gazellegames.net/static/styles/game_room/screenSizes/palooza.css') */


/*****************************************
****************LIGHT BOX*****************
*****************************************/

.lightbox
  position: fixed
  text-align: center
  top: 5%
  left: 5%
  width: 90%
  height: 90%
  padding: 0px
  overflow: auto
  z-index: 9999999999

.lightbox img
  border: solid #E1ECF1 2px
  background-color: white
  max-height: 98%
  max-width: 98%

.jquery-lightbox-move
  z-index: 999999999999999999999999999999 !important
